<h1
  class="text-secondary mt-10 mb-4 pb-10 text-center text-5xl font-black sm:text-6xl"
>
  SETTINGS
</h1>

<section>
  <h2 class="mb-2 text-2xl font-black">DANGER ZONE</h2>

  <div class="grid grid-cols-[8fr_2fr] items-center gap-4">
    <div>
      <h3 class="text-xl font-bold">Delete All Games</h3>
      <p>Delete all completed games and game progress.</p>
    </div>
    <button
      class="bg-danger text-secondary hover:bg-tertiary hover:text-primary-dark h-fit cursor-pointer rounded-md px-4 py-2 font-extrabold"
      (click)="deleteAllGamesModal.showModal()"
    >
      DELETE
    </button>
  </div>
</section>

<app-modal
  #deleteAllGamesModal
  titleText="DELETE ALL GAMES"
  [canCloseOnClickOutside]="true"
>
  <div class="pb-8 text-xl">
    Are you sure you want to delete all completed games and game progress?
  </div>
  <div class="flex flex-row-reverse gap-2">
    <button
      (click)="onDeleteAllGames()"
      class="hover:bg-tertiary hover:text-primary-dark bg-danger text-secondary cursor-pointer rounded-md px-4 py-2 text-xl font-extrabold"
    >
      DELETE
    </button>
    <button
      (click)="deleteAllGamesModal.closeModal()"
      class="hover:bg-tertiary hover:text-primary-dark bg-primary-light text-secondary cursor-pointer rounded-md px-4 py-2 text-xl font-extrabold"
    >
      CANCEL
    </button>
  </div>
</app-modal>
