<div class="mt-10 pb-20">
  <h1 class="text-secondary mb-4 text-center text-5xl font-black sm:text-6xl">
    NONOGRAM
  </h1>
  <div class="bg-tertiary m-auto size-20 rounded-md"></div>
</div>
<div class="flex flex-col items-center gap-4">
  <button
    class="hover:bg-tertiary hover:text-primary-dark bg-accent text-primary-dark w-60 cursor-pointer rounded-md px-4 py-2 text-xl font-extrabold"
    routerLink="/levels"
  >
    PLAY
  </button>
  @if (authService.currentUser$ | async; as user) {
    @if (user.role === "admin") {
      <button
        class="bg-primary-light text-secondary hover:bg-tertiary hover:text-primary-dark w-60 cursor-pointer rounded-md px-4 py-2 text-xl font-extrabold"
        routerLink="/board-editor"
      >
        BOARD EDITOR
      </button>
    }
  }

  <button
    class="bg-primary-light text-secondary hover:bg-tertiary hover:text-primary-dark w-60 cursor-pointer rounded-md px-4 py-2 text-xl font-extrabold"
    routerLink="/settings"
  >
    SETTINGS
  </button>
</div>
