.board-details {
  cursor: pointer;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 0.5rem;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
}

.text {
  display: flex;
  justify-content: space-between;
}

.images {
  display: flex;
  gap: 0.5rem;
}

.image {
  aspect-ratio: 1;
  width: 8rem;
  image-rendering: pixelated;
  border-radius: var(--border-radius);
}
