.header {
  position: absolute;
  width: 100%;
  color: var(--text-color);
  padding: 0.8rem 1rem;
  font-size: 1.5rem;

  display: flex;

  & a {
    display: block;
    width: 2rem;
    color: inherit;
    text-align: center;
  }
}

.middle {
  flex-grow: 1;
}

.left,
.right {
  display: flex;
  gap: 0.2rem;
}
