*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;

  --background-color: #2f4f4f;
  --font-color: #ffebcd;
  --error-font-color: #8b0000;

  --grid-line-color: #f8f8ff;
  --tile-background: #282828;
  --filled-tile-color: #ffebcd;

  --numbers-backgound-color: #132727;
  --dark-numbers-backgound-color: #0c1b1b;

  --border-radius: 5px;
  --numbers-and-grid-ratio: 20% auto;
  --numbers-font-size: 20px;

  --text-color: #fafaff;
  --background-color: #132727;
  --primary-color: #ffebcd;
  --secondary-color: #1a5656;

  --border-radius: .4rem;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  color: var(--font-color);
  background-color: var(--background-color);
  font-family: var(--font-family);
}


button {
  font-family: var(--font-family);
  font-size: 1rem;
  cursor: pointer;
  color: none;
  background-color: none;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem;
}

button:hover {
  filter: brightness(0.95);
}

button:active {
  filter: brightness(1.05);
}

button.primary {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.page-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}


/*
button.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-field {
  margin-bottom: 0.5rem;

  & label {
    font-weight: bold;
  }

  & input {
    font-family: inherit;
    font-size: 1rem;
    padding: 0.4rem;
    outline: none;
    color: var(--tile-background);
    background-color: var(--grid-line-color);
    border: 2px solid var(--tile-background);
    border-radius: var(--border-radius);
  }
}
 */
