@import "tailwindcss";

@theme {
  --font-display: Archivo, Verdana, Geneva, Tahoma, sans-serif;

  --color-primary-dark: hsl(175 50% 10%);
  --color-primary: hsl(175 50% 15%);
  --color-primary-light: hsl(175 50% 20%);

  --color-secondary-dark: hsl(175 50% 80%);
  --color-secondary: hsl(175 50% 90%);
  --color-secondary-light: hsl(175 50% 95%);

  --color-tertiary: hsl(235 80% 80%);
  --color-accent: hsl(115 80% 80%);

  --color-danger: hsl(0, 50%, 25%);
}

@layer theme {
  body.light {
    --color-primary-dark: hsl(175 50% 85%);
    --color-primary: hsl(175 50% 90%);
    --color-primary-light: hsl(175 50% 95%);

    --color-secondary-dark: hsl(175 50% 10%);
    --color-secondary: hsl(175 50% 15%);
    --color-secondary-light: hsl(175 50% 20%);

    --color-tertiary: hsl(235 80% 20%);
    --color-accent: hsl(115 80% 20%);
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@font-face {
  font-family: "Archivo";
  src: url("assets/fonts/Archivo-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-variation-settings: "wdth" 100;
}