@import "tailwindcss";

@theme {
  --font-display: Archivo, Verdana, Geneva, Tahoma, sans-serif;

  --color-primary-dark: hsl(175 50% 10%);
  --color-primary: hsl(175 50% 15%);
  --color-primary-light: hsl(175 50% 20%);

  --color-secondary-dark: hsl(175 50% 80%);
  --color-secondary: hsl(175 50% 90%);
  --color-secondary-light: hsl(175 50% 95%);

  --color-tertiary: hsl(235 80% 80%);
  --color-accent: hsl(115 80% 80%);

  --color-danger: hsl(0, 50%, 50%);
}

@layer theme {
  body.light {
    --color-primary-dark: hsl(175 50% 85%);
    --color-primary: hsl(175 50% 90%);
    --color-primary-light: hsl(175 50% 95%);

    --color-secondary-dark: hsl(175 50% 10%);
    --color-secondary: hsl(175 50% 15%);
    --color-secondary-light: hsl(175 50% 20%);

    --color-tertiary: hsl(235 80% 20%);
    --color-accent: hsl(115 80% 20%);
  }
}

@font-face {
  font-family: "Archivo";
  src: url("assets/fonts/Archivo-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-variation-settings: "wdth" 100;
}

*,
::before,
::after {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

/* .title {
  @apply text-center text-5xl sm:text-6xl font-black text-secondary mb-4;
}

.btn {
  @apply text-xl font-extrabold cursor-pointer 
    bg-primary-light text-secondary hover:bg-tertiary hover:text-primary-dark 
    py-2 px-4 rounded-md;
}

.btn-accent {
  @apply bg-accent text-primary-dark;
}

.input-text {
  @apply bg-primary text-secondary-light text-xl w-full rounded-md py-2 px-4 leading-tight focus:outline-none focus:bg-primary-light hover:bg-primary-light placeholder:text-secondary-dark placeholder:font-normal;
} */

:root {
  --font-size: 16px;

  --text-color: #fafaff;
  --background-color: #132727;
  --primary-color: #ffebcd;
  --secondary-color: #1a5656;
  --accent-color: #47dcdc;
  --danger-color: hsl(0, 100%, 27%);

  --border-radius: 0.4rem;

  font-size: var(--font-size);
}

/* 
button {
  font-size: var(--font-size);
  font-family: var(--font-family);
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--text-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem;
}

button:hover {
  filter: brightness(0.95);
}

button:active {
  filter: brightness(1.05);
}

button.icon-btn {
  line-height: 1;
  text-align: center;
}

button.primary {
  background-color: var(--primary-color);
  color: var(--background-color);
}

button.secondary {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

button.accent {
  background-color: var(--accent-color);
  color: var(--background-color);
}

button.danger {
  background-color: var(--danger-color);
  color: var(--text-color);
}

button:disabled {
  cursor: default;
  filter: brightness(0.8);
}

.page-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-field {
  margin-bottom: 1rem;

  & label {
    font-weight: bold;
  }

  & input {
    font-family: inherit;
    font-size: 1rem;
    padding: 0.4rem;
    outline: none;
    color: var(--background-color);
    background-color: var(--text-color);
    border: none;
    border-radius: var(--border-radius);
  }
}
.form-field.block {
  & label {
    display: block;
    padding-bottom: 0.3rem;
  }
  & input {
    width: 100%;
  }
}

.form-field.inline {
  display: grid;
  grid-template-columns: 2fr 8fr;

  & label {
    text-align: right;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
  }
} */
