<div class="page">
  @if (edit) {
    <div class="header">
      <button class="back-btn primary" (click)="list = true; edit = false">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <h1 class="title">
        {{ board._id == null ? "New Board" : "Edit Board" }}
      </h1>
      <button
        class="delete-btn"
        [hidden]="board._id == null"
        (click)="onDeleteBoard()"
      >
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
    <div class="" [hidden]="board._id == null">
      <span style="font-weight: normal"> ID: </span>
      {{ board._id }}
    </div>
    <form
      [formGroup]="boardForm"
      style="display: grid; grid-template-columns: 1fr 1fr; gap: 1rem"
    >
      <div class="form-field block">
        <label for="name"> Name </label>
        <input id="name" type="text" formControlName="name" />
      </div>
      <div class="form-field block" [hidden]="board.level == null">
        <label for="level"> Level </label>
        <input id="level" type="number" formControlName="level" />
      </div>
    </form>
    <app-image-reader (onImageRead)="onImageRead($event)" />
    @if (
      boardForm.get("filledTiles")?.value.length > 0 &&
      boardForm.get("coloredTiles")?.value.length > 0
    ) {
      <div class="preview-imgs">
        <app-img-board
          [width]="boardForm.get('width')?.value"
          [height]="boardForm.get('height')?.value"
          [tiles]="boardForm.get('filledTiles')?.value"
        />
        <app-img-board
          [width]="boardForm.get('width')?.value"
          [height]="boardForm.get('height')?.value"
          [tiles]="boardForm.get('coloredTiles')?.value"
        />
      </div>
      <div style="margin-top: 0.5rem">
        <span style="font-weight: bold"> Size: </span>
        {{ boardForm.get("width")?.value }} X
        {{ boardForm.get("height")?.value }}
      </div>

      <form
        [formGroup]="boardForm"
        style="display: grid; grid-template-columns: 1fr 1fr; gap: 1rem"
      >
        <div class="form-field block">
          <label for="innerColumn"> Inner Column </label>
          <input id="innerColumn" type="number" formControlName="innerColumn" />
        </div>
        <div class="form-field block">
          <label for="innerRow"> Inner Row </label>
          <input id="innerRow" type="number" formControlName="innerRow" />
        </div>
      </form>
    }

    <button
      class="new-btn primary"
      (click)="saveBoard()"
      [disabled]="boardForm.invalid"
    >
      <i class="fa-solid fa-check"></i>
      {{ board._id == null ? "New Board" : "Edit Board" }}
    </button>
  }
  @if (list) {
    <button style="margin-bottom: 1rem" class="primary" (click)="onNewBoard()">
      <i class="fa-solid fa-plus"></i>
      New board
    </button>
    <div class="list-board-details">
      @if (boardList.length > 0) {
        @for (b of boardList; track $index) {
          <app-board-details [board]="b" (onClick)="onEditBoard($event)" />
        }
      }
    </div>
  }
</div>
