<app-navbar [left]="[{ path: '/', icon: 'fa-home' }]" />
<div class="page-center">
  <div class="header">LEVELS</div>
  <div class="grid-levels">
    @for (l of levels; track $index) {
      <button
        class="level-btn"
        [class.complete]="l.complete"
        [routerLink]="['/game', l.level]"
        [style.backgroundImage]="
          'url(' + getImageSrc(l.coloredTiles, l.width, l.height) + ')'
        "
        [style]="{
          backgroundRepeat: 'no-repeat',
          backgroundSize: 'cover',
        }"
      >
        @if (!l.complete) {
          {{ l.level }}
        }
        <app-circular-progress
          class="circular-progress"
          [progress]="l.progressPorcentage"
        />
      </button>
    }
  </div>
</div>
