<!--[formGroup]="boardForm"-->

<h2 class="title">Login</h2>

<form (submit)="onSubmit()" class="login-form" [formGroup]="loginForm">
  <div class="form-field block">
    <label for="email"> Email </label>
    <input id="email" type="text" formControlName="email" />
  </div>
  <div class="form-field block">
    <label for="password"> Password </label>
    <input id="password" type="password" formControlName="password" />
  </div>
  <div style="text-align: end">
    Don't have an account?
    <a
      style="color: var(--accent-color); text-decoration: none"
      href="/register"
      >Register</a
    >
  </div>
  <button class="form-btn" type="submit" [disabled]="!loginForm.valid">
    Login
  </button>
</form>
