*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  --background-color: #2f4f4f;
  --font-color: #ffebcd;
  --error-font-color: #8b0000;

  --grid-line-color: #f8f8ff;
  --tile-background: #282828;
  --filled-tile-color: #ffebcd;

  --numbers-backgound-color: #132727;
  --dark-numbers-backgound-color: #0c1b1b;

  --border-radius: 5px;
  --numbers-and-grid-ratio: 20% auto;
  --numbers-font-size: 20px;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  color: var(--font-color);
  background-color: var(--background-color);
}

.input-img-field {
  border: 1px solid var(--font-color);
  border-radius: var(--border-radius);
  display: inline-block;
  height: 80px;
  padding: 6px 12px;
  margin: 10px;
  cursor: pointer;

  & input[type="file"] {
    /* display: none; */
    width: 1px;
    height: 1px;
  }
}

.error-msg {
  margin: 10px;
  padding: 8px;

  font-weight: 500;

  background-color: var(--error-font-color);
  border-radius: var(--border-radius);

  display: none;
}

.game {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  display: none;
}

.board-container {
  aspect-ratio: 1;
  padding: 8px;

  width: min(100vw, 100vh);
  height: min(100vw, 100vh);

  display: grid;
  grid-template-columns: var(--numbers-and-grid-ratio);
  grid-template-rows: var(--numbers-and-grid-ratio);
  grid-template-areas:
    "space column-numbers"
    "row-numbers grid-tile";
}

.space-container {
  container-type: size;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  grid-area: space;
}

.filled-tiles-counter {
  font-size: 20cqmin;
  display: flex;
  align-items: center;
  gap: 8px;

  & .tile-icon {
    fill: var(--filled-tile-color);
  }
}

.history-back-btn {
  cursor: pointer;
  color: var(--tile-background);
  background-color: var(--grid-line-color);
  border: 2px solid var(--tile-background);
  border-radius: var(--border-radius);

  width: 40cqmin;
  height: 40cqmin;

  display: flex;
  align-items: center;
  justify-content: center;

  & i {
    font-size: 20cqmin;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.history-back-btn:hover {
  filter: brightness(0.9);
}

.history-back-btn:active {
  filter: brightness(1.1);
}

.column-numbers-container {
  margin: 3px;

  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-area: column-numbers;

  & .group-numbers {
    padding-bottom: 14%;
    margin: 0px 2px;
    flex-direction: column;

    & .number {
      font-size: 40cqw;
    }
  }
}

.row-numbers-container {
  margin: 3px;

  display: grid;
  /* grid-template-rows: repeat(5, 1fr); */
  grid-area: row-numbers;

  & .group-numbers {
    padding-right: 14%;
    margin: 2px 0;
    flex-direction: row;

    & .number {
      font-size: 40cqh;
    }
  }
}

.group-numbers.complete {
  background-color: transparent;
  opacity: 0.6;
}

.group-numbers {
  container-type: size;

  border-radius: var(--border-radius);
  border: 2px solid var(--dark-numbers-backgound-color);
  background-color: var(--numbers-backgound-color);

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8%;
}

.group-numbers:not(.complete) > .number.complete {
  opacity: 0.6;
}

.grid-tile {
  width: 100%;
  height: 100%;
  border: 3px solid var(--grid-line-color);

  display: grid;
  grid-area: grid-tile;
}

.inner-grid-tile {
  width: auto;
  height: auto;

  border: 1px solid red;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.tile {
  aspect-ratio: 1;
  container-type: size;
  background-color: var(--tile-background);
  border: 1px solid var(--grid-line-color);
}

.tile.filled {
  transition: all 0.1s linear;
  background-color: var(--filled-tile-color);
}

.tile::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;

  content: "";
  color: var(--filled-tile-color);

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: grid;
  align-items: center;
  justify-content: center;
}

.tile.cross::after {
  font-size: 100cqmin;
  content: "\f00d";
}
