.game-page {
  padding: 0.5rem;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coloredImage {
  position: relative;
  width: 60vh;
  border: 10px solid var(--text-color);
  border-radius: var(--border-radius);
}

.board-name {
  color: var(--background-color);
  background: var(--text-color);
  font-weight: bold;
  text-align: center;
  max-width: 50vh;

  padding: 0.5rem 1rem;
  padding-top: 0;
  border-end-end-radius: var(--border-radius);
  border-end-start-radius: var(--border-radius);
}

.win-btns {
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
  & button {
    font-weight: bold;
  }
}

.game-header {
  margin: 0 1rem;
  margin-bottom: 0.5rem;

  display: grid;
  /*grid-template-columns: 1fr 6fr 1fr;*/
  align-items: center;
}

.tile-counter {
  /*grid-column: 2;*/
  font-size: 1.5rem;
  text-align: center;
  justify-self: center;
  & > i.fa {
    color: var(--primary-color);
  }
}

.game-board {
  flex-grow: 1;
}

@media screen and (orientation: portrait) {
  .coloredImage {
    flex-grow: 0;
    width: 60vw;
  }

  .board-name {
    max-width: 50vw;
  }

  .game-board {
    flex-grow: 0;
    width: 100%;
  }
}
